header {
  background-image: url('../src/components/img/5028.png');
  }

  .flex-column {
    display: flex;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    flex-wrap: wrap;
    background-image: url('../src/components/img/2795.jpg');
    }

    .Jumbotron {
      background-image: url('../src/components/img/puppy.jpg');
      height: 1000px;
    }

    
    .bg-primary.text-light.mb-4.py-3.flex-row.align-center {
      margin-bottom: 0px!important;
    }