
  

header {
    background-image: url('../src//components/img/5011.png');
    
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../src/components/img/2795.jpg');
}

.bg-primary.text-light.mb-4.py-3.flex-row.align-center {
    margin-bottom: 0px!important;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
    color: #02353C;
}

pre,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: sans-serif;
    margin: 0 0 0.5rem;
}

samp,
textarea {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a:hover {
    color: #46bbd8;
    text-decoration: underline;
}

.w-100 {
    width: 100%;
    background-color: #3b6152!important;
}

.text-light {
    color: #02353C!important;
}

.big-primary,
.bg-dark {
    background-color: #597550!important;
}

.bg-info {
    background-color: #171d20!important;
}

.btn:hover,
.btn.btn-primary:hover,
.btn.btn-danger:hover {
    background-color: #46bbd8;
}

.btn.btn-primary {
    background-color: #327572;
    color: #ffffff;
}

.btn.btn-info {
    background-color: rgb(16, 110, 74);
    color: #ffffff;
}

.btn.btn-info:hover {
    background-color: #46bbd8;
}

.btn.btn-light {
    background-color: #02353C;
    color: #ffffff;
}

.btn.btn-info:hover,
.btn.btn-dark:hover,
.btn.btn-white:hover,
.btn.btn-black:hover,
.btn.btn-link:hover {
    background-color: #46bbd8;
}

.btn.btn-dark {
    background-color: #000000;
}

.card .card-header {
    padding: 0.375rem;
    background-color: rgb(16, 110, 74)!important;
    color: #d9e9e8;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../src/components/img/2795.jpg');
}


/* .card.mb-3 {
    margin-left: 50%;
} */
 /* .flex-column.justify-flex-start.minn-100-vh {
     margin-left: 50%!important;
     align-items: center!important;
 } */

 .flex-row.justify-center {
    margin-left: 25%;
 }

 .bg-primary {
     background-color: none!important;
 }

 .col-md-10 {
     width: 66.33%!important;
 }

 .w-100 {
     background-color: rgb(193, 193, 194)!important;
 }

 /* .container {
     flex-wrap: wrap!important;
 } */

 h4,
 p {
     color: rgb(0, 0, 0);
 }

 .m-3 {
     background-color: #e6e6e6;
     opacity: 85%;
 }

 form .form-input,
 form .form-text-area {
     display: block;
 }

 form .form-input {
     width: 100%;
     padding: 0.75rem;
     color: #1a1a1a;
     background-color: #ffffff;
     margin: 0.625rem 0;
     font-size: 1.2rem;
     border: 1px solid #484848;
     border-radius: 0.3rem;
 }

 form .form-input.form-input-squared {
     border-radius: 0;
 }


.card {
    margin-top: 20px;
}

.col-12.col-md-10.mb-3.p-3 {
    background-color: #e6e6e6;
    opacity: 85%!important;
margin-top: 20px;
}